extends ../default

block content
	#tableName=tableName
	#form-wrapper
		form(method="POST" action=`./${tableName}/save`)
			#table-wrapper.categoryEdit
				include ../../includes/editTable/categoryEdit.pug
			#table-wrapper.numericEdit
				include ../../includes/editTable/numericEdit.pug
			#save
				input(type="submit" value="매핑 저장하기")
