extends ../default
include ../../mixins/editTable/editTableRows.pug
  
block content
	.table
		.table_head
			table
				tr
					th.tablename_head 테이블명
					th.rownum_head 레코드 개수
					th
					th
					th.attrs_head 속성
				tbody
					each element in tbNameScanYn
						+editTableRows(element)

block scripts
