include ../../mixins/domainScan/numericDomainRows.pug

.numeric_name 수치 속성 도메인 스캔 결과
.numeric_table
	.numeric_table_head
		table
			tr
				th 속성명
				th 데이터 타입
				th NULL 레코드 수
				th NULL 레코드 비율
				th 상이 수치 값
				th 최대 값 
				th 최소 값
				th 0 레코드 수
				th 0 레코드 비율
				th 결합키 후보
				th 대표 속성
				th 대표 결합키
				th 도메인, 발생횟수
			tbody
				each result in numericResult
					+numericDomainRows(result)
