extends ../default
include ../../includes/result/categoryScanResult
include ../../includes/result/numericScanResult

block content
	#tableName=tableName
	#form-wrapper
		#table-wrapper-category.categoryEdit
			+categoryScanResult(categoryResult)

		#table-wrapper-numeric.numericEdit
			+numericScanResult(numericResult)
