extends ../default

block content
	#tableName=tableName
	#form-wrapper
		#table-wrapper-category.categoryEdit
			include ../../includes/result/categoryScanResult

		#table-wrapper-numeric.numericEdit
			include ../../includes/result/numericScanResult
