mixin tbNameScanYnDomain(element)
	.tableName_wrapper
		.tableName=`${element.table_name} 스캔여부 : ${element.scan_yn}`
			.scan
				a(href=`/domain-scan/${element.table_name}`).tableName_mixin 도메인 스캔
	br

