header 
    a(href="/").header__logo
    nav
        ul 
            if loggedIn 
                    a(href="/logout") Log Out 
            else
                li
                    a(href="/login") Login
