#nav_list_main
    #nav_list.item1
        a(href="/upload") 테이블 추가하기
    #nav_list.item2
        a(href="/domainscan") 속성 도메인 스캔
    #nav_list.item3
        a(href="/keyedit") 결합키 속성 편집
    #nav_list.item4
        a(href="/multi-join") 다중 테이블 결합
    #nav_list.item5
        a(href="/single-join") 단일 테이블
    #nav_list.item6
        a(href="/results") 단일 테이블 결합
