extends default.pug

block content 
    #login-form
        div 
            form(method="POST")
                select(name="dbkind")
                    option(value="MSSQL") MSSQL
                    option(value="MYSQL") MYSQL
                    option(value="MARIADB") MARIADB
                input(type="text" name='dbhostip' required placeholder="Database Host/Ip")
                input(type="text" name="dbport" required placeholder="Database Port")
                input(type="text" name="dbusername" required placeholder="Your Database Username Here")
                input(type="password" name="dbpassword" required placeholder="Your Database User password here")
                input(type="text" name="dbname" required placeholder="Your Database name here")
                input(type="submit" value="로그인")
                br
