include ./selectTargetRows-multi.pug

mixin selectJoinTarget-multi(targetResult, sessionData)
	
	h4="대상 테이블 목록"
	//- div
	form(method="POST" id='multi-form' action=`/api/getMultiJoin`).button
		table#target_table
			tr
				th 테이블명
				th 속성명
				th 레코드 수
				th 대표 속성
				th 대표 결합키
				th 선택
				tbody
					each result in targetResult
						+selectTargetRows-multi(result, sessionData)
		div#target_button
			input(type="submit" id='multi-button' class="getJoinButton" value='결합 실행')
