extends ../default
include ../../mixins/domainScan/tbNameScanYnDomain.pug

block content
	div.table-grid
		each element in tbNameScanYn
			+tbNameScanYnDomain(element)
		else
			span.notables 테이블이 없습니다.

block scripts
