extends ../default
include ../../mixins/domainScan/domainScanRows.pug

block content
	.table
		.table_head
			table
				tr
					th 테이블명
					th 레코드 개수
					th 스캔 여부
					th
					th 속성
				tbody
					each element in tbNameScanYn
						+domainScanRows(element)

block scripts
