extends ../default

include ../../mixins/joinTable/search-form-multi.pug
include ../../mixins/joinTable/selectTable-multi.pug
include ../../mixins/joinTable/selectJoinTarget-multi.pug

block content
    div
        +searchForm-multi(repAttrJoinKey, params)

    div
        +selectTable-multi(searchResult)

    if targetResult.length > 0
        div#join-target-multi
            +selectJoinTarget-multi(targetResult)
    else
        div.hide
            +selectJoinTarget-multi(targetResult, sessionData)

block scripts
