//-index
include ../mixins/messages.pug
doctype html 
html(lang="ko")
    head 
        title #{title}
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")

    body
        if messages.error 
            +message("error", messages.error)

        include ../includes/header.pug
        include ../includes/navigator.pug
        main
            block content
        include ../includes/footer.pug
