//-index
doctype html 
html(lang="ko")
	head 
		title #{title}
		<link rel="stylesheet" href="https://unpkg.com/mvp.css">
		<link rel="stylesheet" href="/static/css/default.css">
	body
		include ../includes/navigator.pug
		#main
			#contents_container
				block content
		include ../includes/footer.pug
		block scripts
