extends default
include ../mixins/tablenames.pug

block content
    div.table-grid
        each tableName in tableNames
            +tableNames(tableName)
        else
            span.notables 테이블이 없습니다.

block scripts
    script(src='static/js/domain-scan.js')
