extends default.pug

block content
    #upload-form
        div
            form(method="POST", enctype="multipart/form-data")
                label(for="video") CSV파일 업로드
                input(type="file", required, accept=".csv", id="csv_file", name="csv_file")
                input(type="submit", value="업로드")
                br
